@model KoiShow.Data.Models.ContestResult

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ContestResult</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContestResultName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestResultName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContestResultDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestResultDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFinalized)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFinalized)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPublished)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrizeDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrizeDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contest.CompetitionType)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
