@model IEnumerable<KoiShow.Data.Models.ContestResult>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Winner Name
            </th>
            <th>
                Total Score
            </th>
            <th>
                Rank
            </th>
            <th>
                Comment
            </th>
            <th>
                Published
            </th>
            <th>
                Category
            </th>
            <th>
                Prize
            </th>
            <th>
                Prize Description
            </th>
            <th>
                Contest
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContestResultName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContestResultDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WinnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPublished)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrizeDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contest.ContestName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
